# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
env/
venv/
.venv/
.Python

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / JetBrains
.idea/

# Project scripts
run_and_summarize.py
run_tests.py
test_cases_set_2.py
test_cases.py
test_cases_set_3.py
run_all_tests.py